            /**         MODULES         **/

/** MAIN.SCSS **/

// body
%body{
    margin:0;
    padding:0;
}

// general

%general{
    border:$borderGeneral;
    width:$widthGeneral;
    margin:$marginGeneral;
    min-height: $minHeightGeneral;
}